*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__details {
  height: 100%;
  width: 100%;
}

.result__video-container {
  height: 386px;
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  min-width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  max-width: 190px;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;   
  white-space: nowrap;   
  overflow: hidden;
} 

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 18.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  color: white;
  background-color: transparent;
  height: 27px;
  width: 225px;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  padding: 1px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 34px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
}

.more-button {
  flex-shrink: 0;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  text-decoration: none;
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
  cursor: pointer;
}
